
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --background: hsl(0, 0%, 99%);
  --elements: hsl(0, 100%, 100%);
  --text: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 50%);
}

body.dark {
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --text: hsl(0, 100%, 100%);
  --input-text: hsl(0, 0%, 100%);
}
*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Nunito Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 40px;
  background-color: var(--elements);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar h1 {
  color: var(--text);
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
}

.navbar button {
  display: flex;
  border: none;
  background-color: var(--elements);
  color: var(--text);
  cursor: pointer;
  font-weight: 300;
}

input {
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%;
  max-width: 480px;
  background-color: var(--elements);
  color: var(--text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: var(--input-text);
  font-size: 13px;
}

select {
  border: none;
  border-radius: 3px;
  padding: 17px 22px;
  background-color: var(--elements);
  color: var(--text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.moon-icon {
   margin-left: 55rem;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.cards {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 58px;
  padding: 0 40px 80px;
}

.card {
  background-color: var(--elements);
  color: var(--text);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.card__image img {
  display: block;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card__info {
  padding: 24px;
}

.card__info h2 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
}

.card__info p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
}

.card__info strong {
  font-weight: 600;
}
